.sidebar {
  @extend .box-shadow;
}

.theme-dark {
  .sidebar {
    background: darken($dark-accent, 9%);
    border-right: 1px solid $dark-1;
  }
}

.theme-light {
  .sidebar {
    border-right: 1px solid $dark-3;
    background: $light-2;
  }
}
