.animated {
  transition: all $transition-speed ease;
  //transition-timing-function: cubic-bezier(0.1, 0.15, 0.3, 0.45);
}

.bg-light {
  background: $light-1;
}

.bg-dark {
  background: $dark-1;
}

._pt {
  padding-top: 2rem;
}

._pl {
  padding-left: 2rem;
}

._ml {
  margin-left: 1rem;
}

._mr {
  margin-right: 1rem;
}

.box-shadow {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}
