@import './config/colors';
@import './config/variables';
@import './config/typography';
@import './config/breakpoints';

@import './helpers';

@import './components/theme-picker';
@import './components/buttons';
@import './components/nav';
@import './components/sidebar';

@import './themes/dark';
@import './themes/light';


html, body, main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: $main-font;
}

main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;

  .sidebar {
    @extend .animated;

    flex: 1;
    flex-direction: column;
    padding: 2rem;
    width: 50px;
    min-width: 50px;

    @include breakpoint(desktop) {
      flex: 2;
    }

    @include breakpoint(mobileonly) {
      flex: 3;
    }

    @include breakpoint(tablet-up){
      &.collapsed {
        //display: flex;
        width: 50px;
        min-width: 50px;
        flex: 0;
      }
    }

    @include breakpoint(tablet) {
      &.collapsed {
        flex: 0;
        width: 0;
        padding: 0;
        display: none;
      }
    }

  }

  @include breakpoint(tablet) {
    &:not(.mobile-menu-open) {
      .content {
        padding-top: 4rem;
      }
    }
  }

  .content {
    flex: 3;
    opacity: 1;

    @include breakpoint(desktop) {
      flex: 8;
    }

    @include breakpoint(mobileonly) {
      flex: 7;
    }

    flex-direction: column;
    overflow-y: scroll;
  }

  &.theme-dark > .content {
    background:
      /* top, transparent red */
      linear-gradient(
          rgba(16,24,78, .55),
          rgba(16,24,78, .66)
      ),
      url('../images/ep_naturalblack.png');
    //background: darken($dark-accent, 18%);
  }

  &.theme-light > .content {
    background:
      /* top, transparent red */
      linear-gradient(
          rgba(255,255,255, 0.40),
          rgba(255,255,255, 0.55)
      ),
      url('../images/greyzz.png');
  }

  &.mobile-menu-open {
    @include breakpoint(tablet) {
      .content {
        opacity: 0;
        flex: 0;
      }
    }
  }
}


